@import url(common.css);

/*_____________Sub1*/

#nav1{
	width:300px;
	margin:50px 0 0 30px;
}
#nav1 .smenu1{}
#nav1 .smenu1 li{  /*각각의 li를 부모로 설정*/
	position:relative;
	width:235px;
	height:80px;
}
#nav1 .smenu1 li a{
	border-bottom:1px solid #d6d6d6;
	text-align:right;
	color:#555;
	line-height:80px;
	padding-right:15px;
}
#nav1 .smenu1 li:first-child a{border-top:1px solid #d6d6d6;}

#nav1 .smenu1 span{   /*글자위 가로선*/
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:5px;
	opacity:0;
	transition:all 0.4s;
}

/*클래스on1를 제외한 나머지에만 오버적용*/  
#nav1 .smenu1 li:not(.on1):hover span{
	width:235px;
	background:#ff5800;
	opacity:1;
}


#nav1 .smenu1 .on1 span{   /*글자위 가로선->현재위치 활성화*/
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:235px;
	height:5px;
	background:#ff5800;
	opacity:1;
}
#nav1 .smenu1 .on1 a{color:#ff5800;} /*현재위치활성화->글자색변경*/