@import url(common.css);

.login{
	width:270px;
	margin:50px auto; /*요소의 가운데정렬*/
}
.login fieldset{
	padding:20px;
	border:1px solid #ccc;	
}
.login fieldset legend{
	width:80px;
	height:30px;
	background:#0091e5;
	border-radius:0 10px 0 10px;
	/*text-align:center;->legend박스 전체가 움직임*/
}
.login fieldset legend h2{
	color:#fff;
	font-size:16px;
	text-align:center;
	line-height:30px;  /*수직정렬가운데->텍스트가 한줄일때 높이와 동일하게 줄간격을 설정한다.*/
}
.login label{
	display:inline-block;
	/*label은inline태그이므로 width,height,margin상하 적용되지않음
	해결->display:inline-block으로 변경해서 적용함.*/	
	width:60px;
	text-align:right;
	margin-bottom:20px;
}
.login input{
	/*input은 inline형식의 태그이지만 width,height등의 속성이 적용됨*/
	width:120px;
	height:20px;
	background:#e8e8e8;
	border:1px solid #ccc;
	/* padding-left:5px; 
	->패딩을 사용시 여백만큼 가로너비도 늘어남*/
	text-indent:5px;
	/*들여쓰기->가로너비는 변하지않고 안의글자만 옆으로 이동*/
}


/*로그인버튼*/

.login .login_btn{
	width:122px;
	height:22px;
	background:#0091e5;
	border-color:#0066a0;
	color:#fff;
	/*padding-left:63px; -> 안쪽여백으로 버튼이 아닌 글자가 밀림*/
	margin-left:63px;
}
.login .login_btn:hover{
	background:#000;
	cursor:pointer;  /*마우스커서 손모양*/
}